body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.left, .right  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#cat-image {
    height: 100vh;
}

.right-top {
    padding: 1rem;
}
.right-mid {
    padding: 1rem;

}
.title {

}
.subtitle {

}
.right-bottom {
    padding: 1rem;

}
.get-facts-popup {
    font-size: large;
    outline: none;
    border: none;
    margin: 30px;
    padding: 1rem;
    background-color: black;
    color: white;
    font-weight: 500;
}